* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}

body {
    background-color: hsl(226, 43%, 10%);
    color: white;
    padding: 300px 0;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}

body {
    background-color: hsl(226, 43%, 10%);
    color: white;
    padding: 335px 0;

}

.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px;
    max-width: 1100px;
    max-width: 1014px;
    margin: auto;

}

.sidebar {
    border-radius: 20px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    background-color: #1c204b;


}

.top-section {
    background-color: hsl(246, 80%, 60%);
    padding: 25px 20px 70px;
    position: relative;
    border-radius: 15px;



}

.profile-img {
    width: 72px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.report-text {
    margin-top: 70px;
}

.report-text p {
    font-size: 14px;
    color: hsl(236, 100%, 87%);
    margin: 0;
    opacity: 0.8;
    padding-top: 2rem;
}

.report-text h2 {
    font-size: 42px;
    margin: 5px 0 0;
    color: white;
    line-height: 1.2;
    font-family: monospace;
}

.bottom-section {
    background-color: hsl(235, 46%, 20%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottom-section span {
    color: hsl(235, 45%, 61%);
    opacity: 0.6;
    cursor: pointer;
}

.bottom-section span.active {
    opacity: 1;
}

#weekly {
    color: white;
}

.buttom-section.active {
    color: white;
    font-weight: bold;
}

/* activity cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .card-bg {
    top: 0;
    width: 100%;
    height: 35%;
    opacity: 0.2;
}

.card .card-bg img {
    padding: 29px 7px 1px 140px;
    background: antiquewhite;

}

.card .card-content {
    background-color: hsl(235, 46%, 20%);
    padding: 32px;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.8;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card .hours {
    font-size: 43px;
    font-weight: 300;
}

.card .previous {
    font-size: 14px;
    color: #a1a4d0;
}

/* Color Themes */
.card.work {
    background-color: hsl(15, 100%, 70%);
}

.card.play {
    background-color: hsl(195, 74%, 62%);
}

.card.study {
    background-color: hsl(348, 100%, 68%);
}

.card.exercise {
    background-color: hsl(145, 58%, 55%);
}

.card.social {
    background-color: hsl(264, 64%, 52%);
}

.card.selfcare {
    background-color: hsl(43, 84%, 65%);
}

/* media queries */

@media (max-width:1440px) {
    .dashboard {
        display: grid;

    }
}

@media (max-width:375px) {
    .dashboard {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px;
    max-width: 1100px;
    max-width: 1014px;
    margin: auto;

}

.sidebar {
    /* width: 275px; */
    border-radius: 20px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    background-color: #1c204b;


}

.top-section {
    background-color: hsl(246, 80%, 60%);
    padding: 25px 20px 70px;
    position: relative;
    border-radius: 15px;



}

.profile-img {
    width: 72px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.report-text {
    margin-top: 70px;
}

.report-text p {
    font-size: 14px;
    color: hsl(236, 100%, 87%);
    margin: 0;
    opacity: 0.8;
    padding-top: 2rem;
}

.report-text h2 {
    font-size: 42px;
    margin: 5px 0 0;
    color: white;
    line-height: 1.2;
    font-family: monospace;
}

.bottom-section {
    background-color: hsl(235, 46%, 20%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bottom-section span {
    color: hsl(235, 45%, 61%);
    opacity: 0.6;
    cursor: pointer;
}

.bottom-section span.active {
    /* color: white; */
    opacity: 1;
}

#weekly {
    color: white;
}

.buttom-section.active {
    color: white;
    font-weight: bold;
}

/* activity cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .card-bg {
    top: 0;
    width: 100%;
    height: 35%;
    opacity: 0.2;
}

.card .card-bg img {
    padding: 29px 7px 1px 140px;
    background: antiquewhite;

}

.card .card-content {
    background-color: hsl(235, 46%, 20%);
    padding: 32px;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.8;
}

.card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card .hours {
    /* font-size: 28px; */
    font-size: 43px;
    font-weight: 300;
}

.card .previous {
    font-size: 14px;
    color: #a1a4d0;
}

/* Color Themes */
.card.work {
    background-color: hsl(15, 100%, 70%);
}

.card.play {
    background-color: hsl(195, 74%, 62%);
}

.card.study {
    background-color: hsl(348, 100%, 68%);
}

.card.exercise {
    background-color: hsl(145, 58%, 55%);
}

.card.social {
    background-color: hsl(264, 64%, 52%);
}

.card.selfcare {
    background-color: hsl(43, 84%, 65%);
}

/* media queries */

@media (max-width:1440px) {
    .dashboard {
        display: grid;

    }
}

@media (max-width:375px) {
    .dashboard {
        display: grid;
        grid-template-columns: 1fr;
    }
}
